.header{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
    overflow: hidden;
}
.body{
    padding:20px;
    padding-top:100px;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {

    .body{
        padding:0px;
        padding-top:80px;
    overflow: hidden;
    }

    .header{
        position: absolute;
        background-color: white;
        z-index: 1;
    }
}